<!DOCTYPE html>
<html>
  <head>
    <title>RailsFrontendTest</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-[#F4F4F5]">
    <main class="container mx-auto px-5 flex">
      <%= yield %>
    </main>
    <div class="desktop-overlay hidden absolute top-0 left-0 w-full h-full bg-slate-600 "></div>
  </body>
</html>
